/**
 * 서비스에서 사용하는 공통 컬러 변수
 */

//Black
@color-black: #000;
@color-mine-shaft: #323232;
@color-boulder: #747474;

//Gray
@color-storm-gray: #717486;
@color-athens-gray: #EEF0F3;
@color-mercury: #E5E5E5;
@color-alabaster: #FAFAFA;

//Blue , Purple
@color-blue-violet: #6456B7;
@color-persian-blue: #1C39BB;
@color-steel-blue: #4682B4;

//Red
@color-sunset-orange: #FE4C40;

// 참고 https://davidwalsh.name/sass-color-variables-dont-suck
// 참고 http://thesassway.com/beginner/variable-naming
