/**
 * color variables
 *  https://davidwalsh.name/sass-color-variables-dont-suck
 */

//Black
$color-black: #000;
$color-mine-shaft: #323232;
$color-boulder: #747474;

//Gray
$color-storm-gray: #717486;
$color-athens-gray: #EEF0F3;
$color-lightgrey: #d3d3d3;
$color-dimgray: #696969;

//Blue , Purple
$color-persian-blue: #1C39BB;
$color-steel-blue: #4682B4;

//Red
$color-sunset-orange: #FE4C40;

// 참고 https://davidwalsh.name/sass-color-variables-dont-suck
// 참고 http://thesassway.com/beginner/variable-naming
