
// button
.div-buttons{ margin-top: 20px;}

.button{
    display: inline-block;
    @include rem(padding, 10px);
    @include rem(font-size, 16px);
    margin-bottom: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    border: 1px solid transparent;
    @include border-radius(3px);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-appearance: none;

    &--default {
        background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
        background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
        background-image: linear-gradient(to bottom, #fafafa 0%, #eaeaea 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
        border: 1px solid #ccc;
        border-color: #ccc #bdbdbd #adadad;
        color: #333;
        text-shadow: 0 1px 0 white;
    }
    &--default:hover {
        background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
        background-image: -o-linear-gradient(top, #fff 0%, #eee 100%);
        background-image: linear-gradient(to bottom, #fff 0%, #eee 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
        border-color: #bfbfbf #bfbfbf #b3b3b3;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        color: #333;
    }


    // size
    &--lg{
        @include rem(font-size, 20px);
    }

     &--sm{
        @include rem(font-size, 12px);
    }

    &--xs{
        @include rem(font-size, 10px);
    }

    //theme
    &--primary{
        background-image: -webkit-linear-gradient(top, #2591ed 0%, #1177cd 100%);
        background-image: -o-linear-gradient(top, #2591ed 0%, #1177cd 100%);
        background-image: linear-gradient(to bottom, #2591ed 0%, #1177cd 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2591ed', endColorstr='#ff1177cd', GradientType=0);
        background-color: #1385e5;
        border-color: #1177cd #0f6ab6 #0d5c9e;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        color: white;
        font-weight: 400;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    &--success{
        background-image: -webkit-linear-gradient(top, #43cd4f 0%, #2fae39 100%);
        background-image: -o-linear-gradient(top, #43cd4f 0%, #2fae39 100%);
        background-image: linear-gradient(to bottom, #43cd4f 0%, #2fae39 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff43cd4f', endColorstr='#ff2fae39', GradientType=0);
        background-color: #34c240;
        border-color: #2fae39 #299a33 #24862c;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        color: white;
        font-weight: 400;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
}

