
// responsive table
$responsive-card-table-bottom-gap: 1.5rem;
$responsive-card-table-border: 1px solid #000;
$responsive-card-table-stack-point: 640px;
$responsive-card-table-label-bg: #ddd;

.responsive-card-table {

  &.unstriped tbody {
    background-color: transparent;
  }

  th {
    background-color: $responsive-card-table-label-bg;
  }

  th,
  td{
    @include rem(padding, 10px);
  }

  tr,
  th,
  td {
    border: $responsive-card-table-border;
  }
  // include media-query
    @include media-query(600px) {
        thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        }

        tr {
              border: $responsive-card-table-border;
              border-bottom: 0;
              display: block;
        }

        tr + tr {
          margin-top: $responsive-card-table-bottom-gap;
        }

        td {
          border: none;
          display: block;
          border-bottom: $responsive-card-table-border;
          @include rem(font-size, 14px);

              &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
                width: 38%;
                padding: 1% 3%;
              }

              span{
               display: block;
               float: right;
               width: 50%;
               padding:1% 3%;

              }

              &:after {
                content: '';
                display: table;
                clear: both;
              }
        }
    } // media auery


}


